:root {
  --main-color: #dc7052;
  --accent-color: #ed5e36;
  --secondary-color: #979797;
  --page-bg-color: #f6f6f6;
  --icon-text-color: #8b8b8b;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
//=== BASIC RESET =====================
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: inherit;
}
// === MAIN ===========================
html {
  font-size: 14px;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--page-bg-color);
  overflow-x: clip;

  @media (max-width: 767.98px) {
    background-color: #fff;
    padding-bottom: 84px;
  }
}

.vd-wrapper {
  margin: 0 auto;
  @media (min-width: 1440.98px) {
    max-width: 1440px;
  }
}
.main-wrapper {
  display: flex;
  padding-top: 60px;
  @media (max-width: 767.98px) {
    padding-top: 52px;
    background-color: var(--main-color);
  }
}
.aside {
  width: 264px;
  @media (max-width: 767.98px) {
    width: unset;
  }
}
.sidebar {
  padding: 24px;
  flex: 0 0 264px;
  @media (max-width: 767.98px) {
    padding: 0;
    flex-basis: unset;
  }
}
.main {
  background-color: #fff;
  flex: 0 1 100%;
  padding: 24px 0 24px 32px;
  min-width: 5px;

  @media (min-width: 1440.98px) {
    padding-right: 32px;
  }
  @media (max-width: 767.98px) {
    padding-left: 0;
    background-color: unset;
    padding-bottom: 0;
    padding-top: 4px;
    background-color: var(--main-color);
  }
}
.hide-on-mob {
  @media (max-width: 767.98px) {
    display: none !important;
  }
}

// HEADER
.header {
  box-shadow: 0 3px 9px 0 rgba(83, 42, 31, 0.1);
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  @media (max-width: 767.98px) {
    background-color: var(--main-color);
    box-shadow: none;
  }
}

.header__row {
  display: flex;
  align-items: center;
  padding: 12px 32px;
  padding-left: 0;
  @media (max-width: 767.98px) {
    justify-content: space-between;
    padding-right: 16px;
  }
}
.header__logo {
  display: block;
  max-width: 140px;
  padding-left: 24px;
  box-sizing: content-box;
  @media (max-width: 767.98px) {
    padding-left: 16px;
  }
  // .header__logo-img_desktop
  &-img_desktop {
    display: block;
    width: 100%;

    @media (max-width: 767.98px) {
      display: none;
    }
  }
  // .header__logo-img_mob
  &-img_mob {
    width: 100%;
    display: none;
    @media (max-width: 767.98px) {
      display: block;
    }
  }
}
.header__search {
  width: 350px;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  margin-left: 32px;
  margin-right: 10px;
  @media (max-width: 800px) {
    width: 320px;
  }
  @media (max-width: 767.98px) {
    display: none;
  }
  &::before {
    content: "";
    background-image: url(../img/icons/search.svg);
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 9px;
    left: 12px;
  }
  input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 22px;
    padding: 10px 14px 10px 30px;
    outline: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &::placeholder {
      color: #a9a9a9;
      opacity: 1;
    }
    &::-ms-input-placeholder {
      color: #a9a9a9;
    }
    &:focus {
      outline: none;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    }
  }
}

.header__log-out {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  cursor: pointer;
  box-shadow: none;
  border: none;
  background-color: transparent;
  position: relative;
  padding: 10px 0px 10px 25px;
  margin-left: auto;
  transition: color 0.3s ease;
  color: var(--icon-text-color);
  @media (max-width: 767.98px) {
    display: none;
  }
  &::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    left: 0;
    display: block;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask: url(../img/icons/log-out.svg) no-repeat 50% 50%;
    mask: url(../img/icons/log-out.svg) no-repeat 50% 50%;
    background-color: var(--icon-text-color);
    transition: background-color 0.3s ease;
  }
  @media (hover: hover) {
    &:hover {
      color: var(--main-color);
      &::before {
        background-color: var(--main-color);
      }
    }
  }
}

// Balance with coins icon
.balance {
  display: flex;
  color: #fff;
  font-size: 8px;
  gap: 3px;
}

.header {
  .balance {
    display: none;
    font-size: 19px;
    @media (max-width: 767.98px) {
      display: flex;
    }
  }
}
.user-widget {
  .balance {
    font-weight: 700;
    font-size: 14px;
  }
}

// SIDEBAR
.sidebar__sticky-content {
  position: -webkit-sticky;
  position: sticky;
  top: 84px;
  @media (max-width: 767.98px) {
    position: static;
  }
}
.user-widget {
  border-radius: 7px;
  background-color: #ffff;
  padding: 16px 12px 12px;
  font-size: 12px;

  margin-bottom: 24px;
  @media (max-width: 767.98px) {
    display: none;
  }
  // .user-widget__photo
  &__photo {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  // .user-widget__name
  &__name {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    span {
      padding-inline: 6px;
    }
  }

  // .user-widget__balance
  &__balance {
    display: flex;
    align-items: center;
    padding: 7px 12px;
    line-height: 16px;
    background-color: var(--main-color);
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
}
.user-widget__row {
  display: flex;
  gap: 8px;
}
.user-widget-card {
  padding: 9px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  flex: 0 1 50%;
  line-height: 14px;

  // .user-widget-card__title
  &__title {
    margin-bottom: 5px;
    color: var(--secondary-color);
  }

  // .user-widget-card__value
  &__value {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: var(--main-color);
  }
}

.btn_edit-name {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 20px;

  &::before {
    content: "";
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    padding: 4px 6px;
    position: absolute;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--icon-text-color);
    transition: background-color 0.3s ease;
    -webkit-mask: url(../img/icons/pencil.svg) no-repeat 50% 50%;
    mask: url(../img/icons/pencil.svg) no-repeat 50% 50%;
  }

  &:hover {
    &::before {
      background-color: var(--accent-color);
    }
  }
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media (max-width: 767.98px) {
    z-index: 1;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    gap: 15px;
    background-color: #fff;
    box-shadow: 0 -3px 9px 0 rgba(83, 42, 31, 0.1);
    padding: 12px 16px 30px;
  }
}
.toolbar-item {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 12px;
  gap: 8px;
  align-items: center;
  @media (max-width: 767.98px) {
    flex-direction: column;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    gap: 6px;
  }
  // .toolbar-item__text
  &__text {
    font-size: 14px;
    line-height: 16px;
    color: var(--secondary-color);
    transition: color 0.3s ease;
    @media (max-width: 767.98px) {
      font-size: 10px;
    }
  }
  // .toolbar-item__icon
  &__icon {
    position: relative;
    width: 16px;
    height: 16px;
    @media (max-width: 767.98px) {
      width: 24px;
      height: 24px;
    }
    &::before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      background-color: var(--secondary-color);
      transition: background-color 0.3s ease;
      @media (max-width: 767.98px) {
        width: 24px;
        height: 24px;
      }
    }

    &_games {
      &::before {
        -webkit-mask: url(../img/icons/games.svg) no-repeat 50% 50%;
        mask: url(../img/icons/games.svg) no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
      }
    }
    &_popular {
      &::before {
        -webkit-mask: url(../img/icons/popular.svg) no-repeat 50% 50%;
        mask: url(../img/icons/popular.svg) no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
      }
    }
    &_favorites {
      &::before {
        -webkit-mask: url(../img/icons/favorites.svg) no-repeat 50% 50%;
        mask: url(../img/icons/favorites.svg) no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
      }
    }
    &_highscore {
      &::before {
        -webkit-mask: url(../img/icons/highscore.svg) no-repeat 50% 50%;
        mask: url(../img/icons/highscore.svg) no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
      }
    }
    &_prizes {
      &::before {
        -webkit-mask: url(../img/icons/prizes.svg) no-repeat 50% 50%;
        mask: url(../img/icons/prizes.svg) no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
      }
    }
  }
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
      .toolbar-item__icon::before {
        background-color: var(--main-color);
      }
      .toolbar-item__text {
        color: var(--main-color);
      }
    }
  }
  &:hover,
  &:focus {
    // text-decoration: none;
  }

  &.active {
    background-color: var(--main-color);
    @media (max-width: 767.98px) {
      background-color: transparent;
    }
    .toolbar-item__icon {
      &:before {
        background-color: #ffff;
        @media (max-width: 767.98px) {
          background-color: var(--main-color);
        }
      }
    }
    .toolbar-item__text {
      color: #ffff;
      font-weight: 600;

      @media (max-width: 767.98px) {
        color: var(--main-color);
      }
    }
  }
}

// BANNER
.banner {
  padding: 43px 48px;
  background: url(../img/banner.jpg) no-repeat left 32% / cover #224471;
  min-height: 275px;
  border-radius: 15px;
  margin-bottom: 32px;
  margin-right: 32px;
  animation: baner-anim 20s infinite alternate ease-in-out;
  overflow: hidden;

  @media (max-width: 767.98px) {
    display: none;
    padding-right: 0;
  }
  @media (max-width: 1199.98px) {
    padding: 35px;
  }
  @media (max-width: 991.98px) {
    background-image: linear-gradient(45deg, rgba(61, 53, 53, 0.3), rgba(61, 53, 53, 0.3)), url(../img/banner.jpg);
  }
  @media (min-width: 1440.98px) {
    margin-right: unset;
  }

  // .banner__title
  &__title {
    font-family: "Palanquin", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.2;
    color: #fff;
    letter-spacing: -1.4px;
    margin-bottom: 10px;
  }

  // .banner__text
  &__text {
    font-size: 13px;
    color: #fff;
    width: 33%;
    margin-bottom: 27px;
    letter-spacing: -0.24px;
    @media (max-width: 1199.98px) {
      width: 50%;
    }
    @media (max-width: 991.98px) {
      width: 75%;
      letter-spacing: normal;
    }
  }
}

a.banner__btn.custom-btn {
  display: inline-block;
  background-color: #fff;
  color: var(--main-color);
  font-weight: 600;
  padding-inline: 22px;
}
@keyframes baner-anim {
  0% {
    background-position: left 35%; /* Left position */
  }
  100% {
    background-position: right 10%; /* Right position */
  }
}

// Daily special section
.daily {
  margin-bottom: 20px;
  @media (max-width: 767.98px) {
    margin-bottom: 14px;
  }
  // .daily__title
  &__title {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    @media (max-width: 767.98px) {
      color: #fff;
    }
  }
}
.daily__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
  padding-right: 32px;

  @media (max-width: 767.98px) {
    padding-inline: 16px;
    margin-bottom: 12px;
    padding-top: 8px;
  }
  @media (min-width: 1440.98px) {
    padding-right: unset;
  }
}
.daily__nav {
  display: flex;
  gap: 16px;
  @media (max-width: 767.98px) {
    display: none;
  }
}
.daily__swiper {
  margin-inline: -10px;
  @media (max-width: 767.98px) {
    margin-inline: unset;
  }
}
.swiper {
  padding-inline: 10px;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 4px;

  @media (max-width: 767.98px) {
    padding-inline: 16px;
  }
}
.swiper-slide {
  width: 330px;
  @media (min-width: 1440.98px) {
    width: unset;
  }
  @media (max-width: 767.98px) {
    width: 200px;
  }
}
.swiper-button-next,
.swiper-button-prev {
  position: static;
  display: flex;
  width: 20px;
  height: 20px;
  margin: 0;
  color: var(--main-color);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 14px;
  font-weight: 600;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  color: var(--icon-text-color);
  opacity: 1;
}

.daily-item {
  box-shadow: 0 3px 9px 0 rgba(83, 42, 31, 0.1);
  background: #fff;
  border-radius: 13px;
  padding: 8px 8px 16px;
  scroll-snap-align: center;

  // .daily-item__img
  &__img {
    position: relative;
    border-radius: 7px;
    margin-bottom: 7px;
    overflow: hidden;
    height: 184px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      width: 100%;
    }
    &::after {
      content: "";
      display: block;
      border-radius: 7px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: linear-gradient(180deg, rgba(75, 38, 28, 0) 0%, rgba(75, 38, 28, 0.56) 100%);
    }
  }
  // .daily-item__title
  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    z-index: 1;
    padding: 12px 12px 10px;
  }
  // .daily-item__desc
  &__desc {
    font-size: 13px;
    color: #8b8b8b;
    margin-bottom: 12px;
  }
  // .daily-item__nav
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}
// favorite chackbox
.star-checkbox {
  display: flex;
  -webkit-tap-highlight-color: transparent;

  input[type="checkbox"] {
    display: none;
    user-select: none;
    outline: 0;
  }
  input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-left: 1.7rem;
    transition: transform 0.3s;
    width: 24px;
    height: 24px;
  }
  input[type="checkbox"] + label:after,
  input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    height: 24px;
    width: 24px;
    background-size: contain;
    transition: opacity 0.3s, transform 0.3s;
    transform: scale(0.6);
  }
  input[type="checkbox"] + label:before {
    background-image: url("../img/icons/star-1.svg");
    opacity: 1;
    transform: scale(1);
  }
  input[type="checkbox"] + label:after {
    background-image: url("../img/icons/star-2.svg");
    opacity: 0;
  }
  input[type="checkbox"]:checked + label:before {
    opacity: 0;
    transform: scale(0.6);
  }
  input[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  @media (hover: hover) {
    &:hover {
      input[type="checkbox"] + label {
        transform: scale(1.2);
      }
    }
  }
}
a.custom-btn {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  cursor: pointer;
  box-shadow: none;
  border: none;
  background-color: var(--main-color);
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #fff;
  padding: 8px 20px;
  border-radius: 43px;
  transition: background-color 0.3s;

  @media (hover: hover) {
    &:hover {
      background-color: var(--accent-color);
      color: #fff;
    }
  }
  &:active,
  &:focus {
    // outline: none;
    // color: #fff;
  }
}

// List of games
.games {
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  padding-right: 32px;
  @media (max-width: 767.98px) {
    padding: 24px 16px;
  }
  @media (min-width: 1440.98px) {
    padding-right: unset;
  }
  // .games__header
  &__header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  // .games__title
  &__title {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    letter-spacing: -0.24px;
  }
  // .games__all
  &__all {
    display: none;
    @media (max-width: 767.98px) {
      display: block;

      color: var(--main-color);
      font-weight: 600;
      font-size: 15px;
      text-decoration: underline;
    }
    @media (hover: hover) {
      &:hover {
        color: var(--accent-color);
        text-decoration: underline;
      }
    }
    &:focus,
    &:active {
      // color: var(--accent-color);
      // text-decoration: underline;
    }
  }
}

.games-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: left;
  @media (max-width: 991.98px) {
    gap: 16px;
    flex-direction: column;
  }
  @media (max-width: 767.98px) {
    gap: 8px;
  }
}

.game-item {
  padding: 8px;
  display: flex;
  gap: 16px;
  border-radius: 13px;
  box-shadow: 0 3px 9px 0 rgba(83, 42, 31, 0.1);
  background: #fff;
  flex: 0 0 calc(100% / 3 - ((3 - 1) * 20px / 3));
  @media (max-width: 1199.98px) {
    flex-basis: calc(100% / 2 - ((2 - 1) * 20px / 2));
  }
  @media (max-width: 991.98px) {
    flex-basis: 100%;
  }
  // .game-item__img
  &__img {
    border-radius: 7px;
    flex: 0 0 35%;
    max-width: 160px;
    display: flex;
    img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }
  // .game-item__text
  &__text {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  // .game-item__title
  &__title {
    font-weight: 600;
    font-size: 15px;
    color: #000;
  }
  // .game-item__desc
  &__desc {
    flex-grow: 1;
    font-size: 13px;
    color: #8b8b8b;
    margin-bottom: 13px;
  }
  // .game-item__nav
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}
